html{
    scroll-behavior: smooth;
}
#app{
width:100%;
height:800px;
background-color: darkgrey;
}
.line{
    height: 6px;
    width: 70px;
    background-color: dimgrey;
    margin: 8px auto;
}
body{
    text-align: center;
}
#game{
 width:100%;
height:800px;
background-color: lightgrey;   
}
img{
    transition: transform 0.2s;
    width: 400px;
    height: 400px;
}
img:hover{
    transform: scale(0.9);
}
#codepen{
    width:100%;
    height:800px;
    background-color: slategray;
}